div{
    height: 70px;
    width:100%;
    background-color: rgb(15, 16, 16);
     
}
@media(min-width:750px)  {
 div{
   
    height:70px;
    width:100%;
    background-color: rgb(218, 221, 42);
}
 }

 @media(min-width:750px) and (max-width:900px){
 div{
    height: 70px;
    width: 100%;
    background-color: rgb(0, 255, 64);   
}
 }
  
