body {
    margin: 0 auto;
    padding: 50px 0;
    width: 90vw; /* Set width relative to viewport */
    min-height: calc(100vh - 100px); /* 100% of viewport height minus top and bottom padding */
    font-family: Arial, sans-serif;
    background-color:bisque;
}

header {
    text-align: center;
}

header img {
    max-width: 100%; /* Responsive image */
    height: auto;
}

main {
    text-align: center;
}

section {
    width: 80%; /* Set width relative to parent */
    margin: 20px auto; /* Center section elements */
}

h2 {
    color:rgb(99, 65, 1); /* Darker color for headings */
}

hr {
    width: 80%; /* Set width relative to parent */
    margin: 20px auto; /* Center hr element */
    border: 1px solid #2c3e50; /* Custom border color */
}
h1{

    color:rgb(119, 6, 171);
}
